// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#navbarSupportedContent {
    justify-content: space-between!important;
}

a {
    opacity: 1;
    transition: all 0.2s;
}
